# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks
*.keystore

# iOS (v2)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE / SO
.idea/
*.iml
.vscode/
.DS_Store

# Artefatos locais
*.apk
*.aab
*.log
